name: Continuous Deployment

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    name: Deploy to Production
    runs-on: ubuntu-latest

    steps:
      - name: Execute Remote SSH Commands
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }} # Make sure this matches your secret name
          port: 2222
          script: |
            # 1. Setup NVM (so the script can find 'npm')
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            
            # 2. Go to the project folder
            cd /var/www/log
            
            # 3. Pull newest code
            git pull origin main
            
            # 4. Install and Build on the server
            npm install
            npm run build
            
            # 5. Start/Restart PM2
            # Using 'npm start' because we aren't using standalone mode here
            pm2 restart log-app || pm2 start npm --name "log-app" -- start -- -p 3010